$grid-columns: 12;
$container-max-width: 1200px;
$container-padding: 16px;
$gap: 16px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.container {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: repeat($grid-columns, 1fr);
    gap: $gap;
}

[class*="col-"] {
    grid-column: span $grid-columns;
}

@for $i from 1 through $grid-columns {
    .col-#{$i} {
        grid-column: span #{$i};
    }
}

@media (min-width: $breakpoint-sm) {
    @for $i from 1 through $grid-columns {
        .col-sm-#{$i} {
            grid-column: span #{$i};
        }
    }
}

@media (min-width: $breakpoint-md) {
    @for $i from 1 through $grid-columns {
        .col-md-#{$i} {
            grid-column: span #{$i};
        }
    }
}

@media (min-width: $breakpoint-lg) {
    @for $i from 1 through $grid-columns {
        .col-lg-#{$i} {
            grid-column: span #{$i};
        }
    }
}

@media (min-width: $breakpoint-xl) {
    @for $i from 1 through $grid-columns {
        .col-xl-#{$i} {
            grid-column: span #{$i};
        }
    }
}

.col-auto {
    grid-column: auto;
}

.col {
    grid-column: 1 / -1;
}

@for $i from 1 through ($grid-columns - 1) {
    .offset-#{$i} {
        grid-column-start: #{$i + 1};
    }
}

@media (min-width: $breakpoint-sm) {
    @for $i from 1 through ($grid-columns - 1) {
        .offset-sm-#{$i} {
            grid-column-start: #{$i + 1};
        }
    }
}

@media (min-width: $breakpoint-md) {
    @for $i from 1 through ($grid-columns - 1) {
        .offset-md-#{$i} {
            grid-column-start: #{$i + 1};
        }
    }
}

@media (min-width: $breakpoint-lg) {
    @for $i from 1 through ($grid-columns - 1) {
        .offset-lg-#{$i} {
            grid-column-start: #{$i + 1};
        }
    }
}

@media (min-width: $breakpoint-xl) {
    @for $i from 1 through ($grid-columns - 1) {
        .offset-xl-#{$i} {
            grid-column-start: #{$i + 1};
        }
    }
}

.justify-start {
    justify-items: start;
}

.justify-center {
    justify-items: center;
}

.justify-end {
    justify-items: end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-start {
    align-items: start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.align-stretch {
    align-items: stretch;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.gap-0 {
    gap: 0;
}

.gap-1 {
    gap: 4px;
}

.gap-2 {
    gap: 8px;
}

.gap-3 {
    gap: 12px;
}

.gap-4 {
    gap: 16px;
}

.gap-5 {
    gap: 20px;
}

.m-0 {
    margin: 0;
}

.m-auto {
    margin: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 4px;
}

.p-2 {
    padding: 8px;
}

.p-3 {
    padding: 12px;
}

.p-4 {
    padding: 16px;
}

.p-5 {
    padding: 20px;
}

.w-100 {
    width: 100%;
}

.w-auto {
    width: auto;
}

.h-100 {
    height: 100%;
}

.h-auto {
    height: auto;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-grid {
    display: grid;
}

@media (max-width: $breakpoint-sm - 1px) {
    .d-sm-none {
        display: none;
    }
}

@media (min-width: $breakpoint-sm) {
    .d-sm-block {
        display: block;
    }
}

@media (min-width: $breakpoint-md) {
    .d-md-block {
        display: block;
    }
}

@media (min-width: $breakpoint-lg) {
    .d-lg-block {
        display: block;
    }
}

@media (min-width: $breakpoint-xl) {
    .d-xl-block {
        display: block;
    }
}

